#menu {
	background-color: #8D8D8D;
	margin: 5px;
	padding: 10px;
}
#filter {
	background-color: #8D8D8D;
	margin: 5px;
	padding: 10px;
}
#content {
	margin: 5px;
	background-color: #828282;
	overflow-y: scroll;
	overflow-x: hidden;
}

#phones {
	border: 1px;
	width: 100%;
	padding: 10px;
}

th {
    background-color: #8D8D8D;
	padding: 5px;
}

tbody {
    background-color: #fff;
    overflow: auto;
}

td {
    padding: 3px 5px;
}

#scrollablePanel {
	overflow: auto;
}

.button {
	padding: 10px;
	background-color: #000000;
	color: white;
	display: inline-block;
	cursor: pointer;
}

.buttonRed {
	padding: 10px;
	background-color: red;
	color: white;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
}

.buttonGreen {
	padding: 10px;
	background-color: green;
	color: white;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
}